---
import EmptyLayout from "../layouts/EmptyLayout.astro";
import IconLink from "~/components/IconLink.astro";
// import ToggleTheme from "~/components/core/ToggleTheme.astro";
import ThemeChange from "~/components/ThemeChange.astro";
---

<EmptyLayout>
    <div class="fixed top-4 right-4 z-10">
        <!-- <ToggleTheme /> -->
        <ThemeChange />
    </div>

    <div class="landing gap-3">
        <IconLink
            to="/arquitectura"
            text="Arquitectura"
            title="Arquitectura de los servicios en línea"
            icon="📐"
        />

        <IconLink
            to="/javascript101"
            title="Javascript 101"
            icon="🦄"
            text="Javascript"
        />

        <IconLink to="/test" title="Storyblok" icon="👆" text="Storyblock" />

        <IconLink to="/node" title="Node 101" icon="🐱‍👤" text="Node" />

        <IconLink
            to="/node/http"
            title="node.http"
            icon="🤢"
            text="node.http"
        />

        <IconLink
            to="/calculadora"
            title="calculadora"
            icon="📏"
            text="calculadora"
        />

        <IconLink
            to="/calculadora/refactor"
            title="calculadora refactor"
            icon="🧠"
            text="calculadora<br/>refactor"
        />

        <IconLink
            to="/express/static"
            title="express static"
            icon="🐶"
            text="express.static"
        >
            <div class="icon">🐶</div>
            <div class="text">express.static</div>
        </IconLink>

        <IconLink
            to="/wordlesolver"
            title="wordle solver"
            icon="😎"
            text="wordle.solver"
        />

        <IconLink to="/flagture" title="flagture" icon="🏴‍☠️" text="flagture" />

        <IconLink to="/memegram" title="Memegram" icon="📷" text="memegram" />

        <IconLink to="/rest" title="rest" icon="👓" text="rest" />

        <IconLink
            to="/authentication"
            title="Autenticación"
            icon="🔒"
            text="auth*"
        />

        <IconLink
            to="/memegram/graphql"
            title="Memegram + GraphQL"
            icon="📸"
            text="GraphQL"
        />

        <IconLink
            to="/memegram/openapi"
            title="memegram-openapi"
            icon="📸"
            text="memegram<br />openapi"
        />

        <IconLink
            to="/memegram/socketio"
            title="memegram-sockeio"
            icon="📸"
            text="memegram<br />socketio"
        />
    </div>
</EmptyLayout>

<style is:global>
    .landing {
        position: relative;

        width: 100%;
        height: 100vh;
        display: flex;

        justify-content: center;
        align-items: flex-start;
        flex-wrap: wrap;
        align-content: center;

        font-size: 1em;

        /* overflow: hidden; */
    }
</style>
