---
import BaseLayout from "~/layouts/BaseLayout.astro";
import Navbar from "~/components/Navbar.astro";
import Footer from "~/components/Footer.astro";

const { meta } = Astro.props;
---

<BaseLayout {meta}>
    <Navbar />
    <main class="min-h-screen">
        <slot />
    </main>
    <Footer />
</BaseLayout>
